- var production = true;
//- production = false;

mixin dev_head(page_title, index)
    head
        title=page_title
        | 
        | <!-- saved from url=(0014)about:internet -->
        meta(charset='utf-8')
        meta(name='viewport', content="width=device-width, initial-scale=1.0")
        meta(name="SKYPE_TOOLBAR", content="SKYPE_TOOLBAR_PARSER_COMPATIBLE")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="format-detection", content="telephone=no")
        -if (production)
            style
                include ../styles/main_global.min.css

            - if (index)
                include ../library/phpQuery-onefile.php
                | ?>

        - else
            link(rel='stylesheet', href='styles/main_global.css', media='all')
            
        //-link(href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        //-link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic', rel='stylesheet', type='text/css')
        //-script(src='js/jquery1.10.js')
        //-script(src='js/jquery-ui-1.11.4.js')
        //-script(src='js/jquery.validationEngine.js')
        //-script(src='js/jquery.validationEngine-ru.js')
        //-script(src='js/script.js')

        | <noscript>
        | <iframe src="//www.googletagmanager.com/ns.html?id=GTM-PJDT2L" height="0" width="0"
        | style="display:none;visibility:hidden"></iframe>
        | </noscript>
        

mixin loop_while(counter)
    -i=0;
    while i < counter
        -i++;
        block
        
mixin object_price()
    .object_price_w
        a.object_price_btn.requestBtn.green_btn_2(href='#') Заказать
        .object_price
            block

mixin header(index, about)
    div.header
        a.mob_menu.mobMenuBtn.i-menu(href='#')
        .section_inner.clearfix
            .logo_block
                a.logo(href='/')
                    img(src='i/logo.png')
                    span Традиции и  <br>  надежность

            .header_callback
                ul.share_block
                    li: a.sh_link.i-facebook(href='#')
                    li: a.sh_link.i-instagram(href='#')
                
                ul.phones_block
                    li Украина +38 (097) 17 11 844
                    li Кипр +35 799 69 55 80
                    li
                        a.phones_callback_btn.green_btn_2.callbackBtn(href='#')
                            span заказать звонок
                        
            ul.nav_menu
                li.nav_item
                    a.nav_link(href= about ? '#' : 'about.html') О нас
                li.nav_item
                    a.nav_link.scrollTo(href= (index ? '' : '/') + '#rent_section') Аренда
                li.nav_item
                    a.nav_link.scrollTo(href= (index ? '' : '/') + '#booking_section') Раннее бронирование
                li.nav_item
                    a.nav_link.scrollTo(href= (index ? '' : '/') + '#services_section') Дополнительные услуги
                //-li.nav_item
                    a.nav_link(href='about.html') Продажа
                li.nav_item
                    a.nav_link(href='about.html#contacts') Контакты
                    
mixin new_footer()
    #contacts.section.footer_v2
        .section_inner.clearfix
            .footer_contact_info
                a.contact_block_logo(href='/')
                    img(src='i/logo.png')
                    span Традиции и  <br> надежность

                ul.contact_share_block
                    li: a.sh_link.i-facebook(href='#')
                    li: a.sh_link.i-instagram(href='#')

                .contact_block_questions: .contact_block_q_center
                    .contact_block_text
                        .contact_block_caption ОСТАЛИСЬ ВОПРОСЫ?
                        p Задайте их нашему менеджеру!

                    a.btn_v5.contact_btn.green_btn_2.questionBtn(href='#') Задать вопрос

            .footer_contacts
                .contact_block_caption.text_upper Наши контакты

                ul.footer_contact_phones
                    li._phone +38 (097) 17 11 844
                    li +38 (050) 62 21 981

                    li._email
                        a(href='mailto:info@cyprogroup.club') info@cyprogroup.club
                        
mixin contacts_section(small)
    #contacts.contacts_section.section(class = small ? '_simple' : '')
        - if (!small)
            h2.section_caption.caption_bg
                span.section_inner КОНТАКТЫ

        .section_inner
            .contact_block
                .contact_info
                    a.contact_block_logo(href='/')
                        img(src='i/logo.png')
                        span Традиции и  <br>  надежность

                    ul.contact_share_block
                        li: a.sh_link.i-facebook(href='#')
                        li: a.sh_link.i-instagram(href='#')
    
                    - if (small)
                        .small_contacts
                            dl.contact_phones
                                dt Украина:
                                dd +38 (097) 17 11 844
                                dt &nbsp;
                                dd +38 (050) 62 21 981
    
                                dt._email Почта: 
                                dd
                                    a(href='mailto:info@cyprogroup.club') info@cyprogroup.club
                        
                    .contact_block_questions
                        .contact_block_text
                            .contact_block_caption ОСТАЛИСЬ ВОПРОСЫ?
                            p Задайте их нашему менеджеру!

                        a.contact_block_btn.green_btn_2.questionBtn(href='#') Задать вопрос
                        
                //- if (small)
                    .small_contacts
                        dl.contact_phones
                            dt Украина:
                            dd +38 (097) 17 11 844
                            dt &nbsp;
                            dd +38 (050) 62 21 981

                            dt._email Почта: 
                            dd
                                a(href='mailto:info@cyprogroup.club') info@cyprogroup.club
                
                - if (!small)
                    ul.contact_maps
                        li
                            .contact_map_unit
                                .contact_map
                                    | <iframe class="actAsDiv" width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;q=%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2%2C%20%D1%83%D0%BB.%D1%81%D1%83%D0%BC%D1%81%D0%BA%D0%B0%D1%8F%2C%2039&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=13&amp;iwloc=A&amp;output=embed"></iframe>
                                .contact_block_addr Харьков, Украина
                                p ул.Сумская, 39, офис 211
    
                                p
                                    span.i-mobile
                                    | &nbsp;
                                    span +38 (097) 17 11 844
                                p
                                    span.i-mobile
                                    | &nbsp;
                                    span +38 (050) 622 19 81
                                p
                                    span.i-envelope
                                    | &nbsp;
                                    a(href='mailto:info@cyprogroup.club') info@cyprogroup.club
    
                        li
                            .contact_map_unit
                                .contact_map
                                    | <iframe class="actAsDiv" width="350" height="200" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=ru&amp;q=Grigori%20Afxentiou%202%2C%20Larnaca%2C%20Cyprus&amp;aq=0&amp;ie=UTF8&amp;t=m&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
                                .contact_block_addr Ларнака, Кипр
                                p Акамия Центр, офис 103, <br> ул.Гр. Афксентиу 2
    
                                p
                                    span.i-mobile
                                    | &nbsp;
                                    span +35 799 69 55 80
                                p
                                    span.i-envelope
                                    | &nbsp;
                                    span info@cyprogroup.club
                                
mixin exchange()
    .exchange_holder
        | <!-- Minfin.com.ua currency informer 275x120 yellow-->
        <div id="minfin-informer-m1Fn-currency">Загружаем <a href="http://minfin.com.ua/currency/" target="_blank">курсы валют</a> от minfin.com.ua</a></div><script type="text/javascript">var iframe = '<ifra'+'me width="275" height="120" fram'+'eborder="0" src="http://informer.minfin.com.ua/gen/course/?color=yellow" vspace="0" scrolling="no" hspace="0" allowtransparency="true"style="width:275px;height:120px;ove'+'rflow:hidden;"></iframe>';var cl = 'minfin-informer-m1Fn-currency';document.getElementById(cl).innerHTML = iframe; </script><noscript><img src="http://informer.minfin.com.ua/gen/img.png" width="1" height="1" alt="minfin.com.ua: курсы валют" title="Курс валют" border="0" /></noscript>
        <!-- Minfin.com.ua currency informer 275x120 yellow-->
    
mixin weather()
    .weather_holder
        | <!-- Gismeteo informer START -->
        | <link rel="stylesheet" type="text/css" href="https://s1.gismeteo.ua/static/css/informer2/gs_informerClient.min.css">
        | <div id="gsInformerID-8L08GUAkp72idD" class="gsInformer" style="width:240px;height:238px">
        |   <div class="gsIContent">
        |    <div id="cityLink">
        |      <a href="https://www.gismeteo.ua/weather-nicosia-3885/" target="_blank">Погода в Никосии</a>
        |    </div>
        |    <div class="gsLinks">
        |      <table>
        |        <tr>
        |          <td>
        |            <div class="leftCol">
        |              <a href="https://www.gismeteo.ua" target="_blank">
        |                <img alt="Gismeteo" title="Gismeteo" src="https://s1.gismeteo.ua/static/images/informer2/logo-mini2.png" align="absmiddle" border="0" />
        |                <span>Gismeteo</span>
        |              </a>
        |            </div>
        |            <div class="rightCol">
        |              <a href="https://www.gismeteo.ua/weather-nicosia-3885/" target="_blank">Погода на 2 недели</a>
        |            </div>
        |            </td>
        |         </tr>
        |       </table>
        |     </div>
        |   </div>
        | </div>
        | <script src="https://www.gismeteo.ua/ajax/getInformer/?hash=8L08GUAkp72idD" type="text/javascript"></script>
        | <!-- Gismeteo informer END -->
    
mixin popup()
    #callback_popup.popup(style='display:none;')
        form.validateMe.sendMailForm(action='send.php' method="POST")
            .form_title.hide Заявка на консультацию
            p Введите ваше имя и телефон и получите  <br>  развернутую консультацию специалиста
            
            .form_cell.f_cell_v1
                .form_label
                    label(for='callback_popup_name') Имя
                .input_w
                    input#callback_popup_name.f_input_v1(placeholder='Введите Ваше имя' class='validate[required]' name='order_name')
                
            .form_cell.f_cell_v1
                .form_label
                    label(for='callback_popup_phone') Телефон
                .input_w
                    input#callback_popup_phone.f_input_v1(placeholder='Введите Ваш телефон' class='validate[required]' name='order_phone' data-inputmask="'mask': '[+38] (999)-999-99-99', 'clearIncomplete': true")

            .form_cell.f_cell_v1
                button.btn_v2.green_btn.subscribe_btn Получить консультацию специалиста
                
    #request_popup.popup(style='display:none;')
        form.validateMe.sendMailForm(action='send.php' method="POST")
            .form_title.hide Запрос каталога
            p Заполните заявку и получите <br> полный каталог вилл и апартаментов бесплатно
            
            .form_cell.f_cell_v1
                .form_label
                    label(for='callback_popup_name') Имя
                .input_w
                    input#callback_popup_name.f_input_v1(placeholder='Введите Ваше имя' class='validate[required]' name='order_name')
                
            .form_cell.f_cell_v1
                .form_label
                    label(for='callback_popup_phone') Телефон
                .input_w
                    input#callback_popup_phone.f_input_v1(placeholder='Введите Ваш телефон' class='validate[required]' name='order_phone' data-inputmask="'mask': '[+38] (999)-999-99-99', 'clearIncomplete': true")
                
            .form_cell.f_cell_v1
                .form_label
                    label(for='callback_popup_email') E-mail
                .input_w
                    input#callback_popup_email.f_input_v1(placeholder='Введите Ваш e-mail' name='order_email' class='validate[required,custom[email]]' data-inputmask="'alias': 'email'")

            .form_cell.f_cell_v1
                button.btn_v2.green_btn.subscribe_btn Получить консультацию специалиста
                

    #question_popup.popup(style='display:none;')
        form.validateMe.sendMailForm(action='send.php' method="POST")
            .form_title.hide Вопрос
            p Задать вопрос
            
            .form_cell.f_cell_v1
                .form_label
                    label(for='question_popup_name') Имя
                .input_w
                    input#question_popup_name.f_input_v1(placeholder='Введите Ваше имя' class='validate[required]' name='order_name')
                
            .form_cell.f_cell_v1
                .form_label
                    label(for='question_popup_phone') Телефон
                .input_w
                    input#question_popup_phone.f_input_v1(placeholder='Введите Ваш телефон' class='validate[required]' name='order_phone' data-inputmask="'mask': '[+38] (999)-999-99-99', 'clearIncomplete': true")
                
            .form_cell.f_cell_v1
                .form_label
                    label(for='question_popup_email') E-mail
                .input_w
                    input#question_popup_email.f_input_v1(placeholder='Введите Ваш e-mail' name='order_email' class='validate[required,custom[email]]' data-inputmask="'alias': 'email'")
                
            .form_cell.f_cell_v1
                .form_label
                    label(for='question_popup_ask') Вопрос
                .input_w
                    textarea#question_popup_ask.f_input_v1(placeholder='Введите вопрос' name='order_comments')

            .form_cell.f_cell_v1
                button.btn_v2.green_btn.subscribe_btn Задать вопрос

mixin get_temp()
    span
        | <?php
        | $res = file_get_contents('https://pogoda.turtella.ru/Cyprus/Larnaca/sea_temperature/index.php');
        | $document = phpQuery::newDocument($res);
        | $hentry = $document->find('#monthWeather .seaTemp')->text();
        | echo $hentry;
        | ?>

mixin script_js(js_dep, js_run)
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,cyrillic', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic', rel='stylesheet')
    link(rel='stylesheet', href='styles/styles.css', media='all')
    link(rel='stylesheet', href='vendor/fancyBox-master/dist/jquery.fancybox.css', media='all')
    script(src='js/script.min.js')
    script.
        $script("js/min/all.js", "all");
        var js_dep = #{js_dep}, js_run = #{js_run}, dep_arr = [];

        for (var i = 0; i < js_dep.length; i++) {
            $script(js_dep[i], "js_" + i);
            dep_arr.push("js_" + i);
        }
        
        $script.ready("all", function () {
            console.log('all');

            $script.ready(dep_arr, function () {
                console.log('dep_arr', dep_arr);

                for (var i = 0; i < js_run.length; i++) {
                    $script(js_run[i]);
                    console.log(js_run[i]);
                }

            });
        
        });

mixin nbl(custom_js)
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,cyrillic', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic', rel='stylesheet')
    
    | <script src="js/nbl.plus.min.js" data-nbl="[['js/all.m.js', [#{custom_js} 'vendor/fancyBox-master/dist/jquery.fancybox.css']]]"></script>

    script.
        (function () {
            var widget_id = 'PBVelrMZV4';
            var d = document;
            var w = window;

            function l() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            }

            if (d.readyState == 'complete') {
                l();
            } else {
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    | 

    script.
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PJDT2L');

    //-| <script src="js/nbl.plus.min.js" data-nbl="[['js/all.m.js', ['js/backstretch.js', ['vendor/fancyBox-master/dist/jquery.fancybox.min.js', ['js/slick.js', [#{custom_js}, 'vendor/fancyBox-master/dist/jquery.fancybox.css']]]]]]"></script>

    

mixin scripts(index)
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600&subset=latin,cyrillic', rel='stylesheet')
    link(href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,cyrillic', rel='stylesheet')
    link(rel='stylesheet', href='styles/styles.css', media='all')
    link(rel='stylesheet', href='vendor/fancyBox-master/dist/jquery.fancybox.css', media='all')
    script(src='js/min/all.js')

    //-script(src='js/jquery1.10.js')
    //-script(src='js/jquery-ui-1.11.4.js')
    //-script(src='js/jquery.validationEngine.js')
    //-script(src='js/jquery.validationEngine-ru.js')
    //-script(src='js/backstretch.js')
    //-script(src='js/slick.js')
    //-script(src='vendor/fancyBox-master/dist/jquery.fancybox.min.js')
    //-script(src='js/script.js')
    
    script.
        (function () {
            var widget_id = 'PBVelrMZV4';
            var d = document;
            var w = window;

            function l() {
                var s = document.createElement('script');
                s.type = 'text/javascript';
                s.async = true;
                s.src = '//code.jivosite.com/script/widget/' + widget_id;
                var ss = document.getElementsByTagName('script')[0];
                ss.parentNode.insertBefore(s, ss);
            }

            if (d.readyState == 'complete') {
                l();
            } else {
                if (w.attachEvent) {
                    w.attachEvent('onload', l);
                } else {
                    w.addEventListener('load', l, false);
                }
            }
        })();
    | 
    
    script.
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
            var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PJDT2L');
    
    
    - if (index)
        script(src='js/index.min.js')
        